@font-face {
    font-family: mainframe;
    src: url("../fonts/MAINBRG_.ttf") format('truetype');;
}

.index-computer {
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.computer-monitor {
    background: url("../images/computer.svg");
    background-repeat: no-repeat;
    height: 70vh;
}

.computer-monitor-text {
    margin-top: 11vh;
    color: #66ff66;
    font-family: mainframe;
    margin-left: 15vh;
    margin-right: 33vh;
}

.computer-monitor-text-name {
    text-align: center;
}

.computer-monitor-text-about {
    overflow: scroll;
    max-height: 50%;
}

.index-computer-keyboard {
    background: url("../images/keyboard.svg");
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: 2vh;
}

.computer-keyboard-keys-row-1 {
    margin-top: 2.5vh;
    margin-left: 12%;
    margin-right: 6%;
}

.computer-keyboard-keys-row-2 {
    margin-top: 1vh;
    margin-left: 6%;
    margin-right: 12%;
}

.computer-key {
    background: url("../images/generickey.svg");
    background-repeat: no-repeat;
    height: 6vh;
    //width: 10vh;
    //float: left;
}

.key-wrap {
    //overflow: hidden;
    height: 6vh;
    width: 10vh;
    padding: 0;
}

.computer-key-github {
    background: url("../images/key_github_raised.svg");
    background-repeat: no-repeat;
    display: block;
    height: 6vh;
    &:hover {
        cursor: pointer;
    }
    &:active { 
        background: url("../images/key_github_pressed.svg");
    }
}

.computer-key-linkedin {
    background: url("../images/key_linkedin_raised.svg");
    background-repeat: no-repeat;
    display: block;
    height: 6vh;
    &:hover {
        cursor: pointer;
    }
    &:active { 
        background: url("../images/key_linkedin_pressed.svg");
    }
}

.computer-key-email {
    background: url("../images/key_email_raised.svg");
    background-repeat: no-repeat;
    display: block;
    height: 6vh;
    &:hover {
        cursor: pointer;
    }
    &:active { 
        background: url("../images/key_email_pressed.svg");
    }
}

.computer-key-instagram {
    background: url("../images/key_instagram_raised.svg");
    background-repeat: no-repeat;
    display: block;
    height: 6vh;
    &:hover {
        cursor: pointer;
    }
    &:active { 
        background: url("../images/key_instagram_pressed.svg");
    }
}
