.index-computer-monitor {
    /*
    border: 20px solid grey;
    border-radius: 5px;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    background-color: #282828;
    */
    background: url("../images/computer.svg");
    background-repeat: no-repeat;
    height: 70vh;
}

.index-computer-keyboard {
    background: url("../images/keyboard2.svg");
    background-repeat: no-repeat;
    height: 20vh;
}