.index-computer {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.index-computer-monitor {
    background: url("../images/computer.svg");
    background-repeat: no-repeat;
    height: 70vh;
}

.index-computer-keyboard {
    background: url("../images/keyboard2.svg");
    background-repeat: no-repeat;
    height: 20vh;
}